<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #class#"
     data-eqType="#eqType#"
     data-eqLogic_id="#id#"
     data-eqLogic_uid="#uid#"
     data-version="#version#"
     data-translate-category="#translate_category#"
     data-category="#category#"
     data-tags="#tags#"
     style="width: #width#;height: #height#;">
    <div class="widget-name text-center">
        <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
        <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
    </div>
    <div class="center" id="modehome">
        <div>
            <span class="cmd cmd-widget"
                  data-type="action"
                  data-toggle="tooltip"
                  data-subtype="other"
                  data-cmd_id="#setmodeschedule#"
                  onclick="jeedom.cmd.execute({id: this.dataset.cmd_id});"
                  title="Mode Home">
                  <a class="btn btn-sm btn-default action">
                      <i class="icon maison-home63"></i>
                  </a>
            </span>
            <span class="cmd cmd-widget"
                  data-type="action"
                  data-toggle="tooltip"
                  data-subtype="other"
                  data-cmd_id="#setmodehg#"
                  onclick="jeedom.cmd.execute({id: this.dataset.cmd_id});"
                  title="Mode Hors Gel">
                  <a class="btn btn-sm btn-default action">
                      <i class="icon nature-snowflake"></i>
                  </a>
            </span>
            <span class="cmd cmd-widget"
                  data-type="action"
                  data-toggle="tooltip"
                  data-subtype="other"
                  data-cmd_id="#setmodeaway#"
                  onclick="jeedom.cmd.execute({id: this.dataset.cmd_id});"
                  title="Mode Absent">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-sign-out-alt"></i>
                  </a>
            </span>
        </div>
        <div class="content-xs">
            <span class="cmdName">#gethomename#</span> <strong class="state" id="gethome">#gethome#</strong>
        </div>
        <div style="width: 150px">
            #schedule#
        </div>
        <div id="mt_planning">
            #getdate#
        </div>
    </div>
    <script>
        if (document.getElementById('gethome').innerText === 'Hors Gel'){
            document.getElementById('modehome').style.background = '#505050'
            document.getElementById('mt_planning').style.display = 'none'
        }

        if (document.getElementById('gethome').innerText === 'Absent'){
            document.getElementById('modehome').style.background = '#4155a3'
            document.getElementById('mt_planning').style.display = 'none'
        }

        if (document.getElementById('gethome').innerText === 'Home'){
            document.getElementById('mt_planning').style.display = 'block'
        }
    </script>
</div>