<div class="eqLogic eqLogic-widget #class#" data-eqLogic_id="#id#" data-eqType="#eqType#" data-version="#version#" data-eqLogic_uid="#uid#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="#style#">
    <div class="mobilecenter">
        <span class="widget-name">
            <span style="#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></span><br/>
        </span>
    </div>
    <div class="mobilecenter" style="margin-top: 5px">
         <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#setmodeschedule#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Mode Home">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="icon maison-home63"></i>
            </a>
        </span>
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#setmodehg#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Mode Hors Gel">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="icon nature-snowflake"></i>
            </a>
        </span>
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#setmodeaway#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Mode Absent">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </span>
    </div>
    <div class="mobilecenter">
        <span class="cmdName">#gethomename#</span> <strong class="state">#gethome#</strong>
    </div>
    <div class="mobilecenter">
        #schedule#
    </div>
    <style>
        .mobilecenter
        {
            text-align: center;
        }
    </style>
</div>