<div class="cmd cmd-widget" data-type="info" data-subtype="binary" data-template="tmplicon" data-cmd_id="#id#">
    <div class="title">
        <div class="cmdName">#name_display#</div>
    </div>
    <div class="center" style="margin-top: 5px">
        <span class="iconCmd"></span>
    </div>
    <script>
        jeedom.cmd.addUpdateFunction('#id#',function(_options) {
            const cmd = document.querySelector('.cmd[data-cmd_id="#id#"]')
            if (_options.display_value === '1') {
                cmd.querySelector('.iconCmd').innerHTML = "#_icon_on_#"
            } else {
                cmd.querySelector('.iconCmd').innerHTML = "#_icon_off_#"
            }
        });

        jeedom.cmd.refreshValue([{cmd_id :'#id#',display_value: '#state#'}])
    </script>
</div>