<div class="cmd cmd-widget" data-type="info" data-subtype="binary" data-template="tmplicon" data-cmd_id="#id#">
    <div class="center" style="margin-top: 5px">
        <div class="cmdName #hide_name#">#name_display#</div>
        <div class="iconCmd"></div>
    </div>
    <script>
        jeedom.cmd.update['#id#'] = function(_options) {
            let cmd = $('.cmd[data-cmd_id=#id#]');
            if (_options.display_value === '1') {
                cmd.find('.iconCmd').empty().append("#_icon_on_#");
            } else {
                cmd.find('.iconCmd').empty().append("#_icon_off_#");
            }
        }

        jeedom.cmd.update['#id#']({display_value: '#state#'});
    </script>
</div>